doctype html
html(lang="en")
  head
    title Flash cards
    //- link(rel="stylesheet", href="/static/stylesheets/style.css")
  body
    header
    content
        form(action="/getData", method="post")
        label enter number:
            input(type="text", name="number")
        button(type="submit") Submit
    footer
    